@media screen and (min-width: 1280px){
  .container {
    width: 1280px;
  }
}

a {
  text-decoration: none;
  color: #666666;
}

a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  padding-left: 0 !important;
}

.logo {
  background-color: #429AD9;
}

nav {
  border-bottom: 1px solid #EEEEEE;
}

nav > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

nav > ul > li {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  font-size: 16px;
}

nav > ul > li > a::before {
  margin-right: 8px;
}

.news > ul > li:first-child {
  width: 50%;
  height: 266px;
}

.news > ul > li {
  float: left;
  padding-right: 10px;
  margin-bottom: 10px;
  width: 25%;
  height: 128px;
}

.news > ul > li > a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.news > ul > li > a > img {
  width: 100%;
  height: 100%;
}

.news > ul > li > a > p {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
  height: 41px;
  width: 100%;
  color: white;
  font-size: 16px;
  line-height: 41px;
  text-align: center;
  background: rgba(0, 0, 0, .5);
}

.news > ul > li:nth-child(n + 2) > a > p {
  font-size: 12px;
}

.public {
  border-top: 1px solid #EEEEEE;
}

.public > .row {
  border-bottom: 1px solid #EEEEEE;
}

.public > .row > div:nth-child(2) {
  margin-top: 20px;
}

.public > .row > div:nth-child(2) > img {
  width: 100%;
  padding-bottom: 10px;
}

aside > a {
  display: block;
}

aside > a:first-child {
  margin-bottom: 20px;
}

aside > a:last-child {
  padding: 10px;
  border: 1px solid #EEEEEE;
}

aside > a > img {
  width: 100%;
}

aside > a > span {
  margin-bottom: 5px;
}

aside > a > > p {
  font-size: 12px;
}