body {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  color: #666666;
  font-size: 14px;
  font-family: -apple-system, Helvetica,sans-serif;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #666666;
  text-decoration: none;
}

.header {
  height: 45px;
}

.header > ul > li {
  float: left;
  text-align: center;
  height: 45px;
  line-height: 45px;
  color: #FFFFFF;
  background-color: #333333;
}

.header > ul > li:nth-child(1) {
  width: 8%;
}

.header > ul > li:nth-child(1) > img {
  width: 10px;
}

.header > ul > li:nth-child(2) {
  width: 10%;
}

.header > ul > li:nth-child(2) img {
  width: 30px;
  vertical-align: middle;
}

.header > ul > li:nth-child(3) {
  width: 57%;
}

.header > ul > li:nth-child(4) {
  width: 25%;
  background-color: #F63515;
}

.search-wrap {
  position: fixed;
  width: 100%;
  min-width: 320px;
  max-width: 750px;
  height: 44px;
  overflow: hidden;
}

.search-btn,
.search-login {
  position: absolute;
  top: 0;
  width: 40px;
  height: 44px;
}

.search-btn {
  left: 0;
}

.search {
  position: relative;
  height: 30px;
  border-radius: 15px;
  margin: 7px 50px 0 50px;
  background-color: white;
}

.search-login {
  right: 0;
  line-height: 44px;
  color: white;
}

.search-btn::before {
  content: '';
  display: block;
  width: 20px;
  height: 18px;
  background: url('../images/s-btn.png') no-repeat;
  background-size: 20px 18px;
  margin: 14px 0 0 15px;
}

.jd-icon {
  position: absolute;
  width: 20px;
  height: 15px;
  top: 8px;
  left: 13px;
  background: url('../images/jd.png') no-repeat;
  background-size: 20px 15px;
}

.jd-icon::after {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 15px;
  left: 25px;
  background-color: #CCCCCC;
}

.glass {
  position: absolute;
  top: 8px;
  left: 50px;
  width: 18px;
  height: 15px;
  background: url('../images/jd-sprites.png') no-repeat -81px 0;
  background-size: 200px;
}

.banner {
  width: 100%;
  min-width: 320px;
  max-width: 750px;
}

.banner > img {
  vertical-align: middle;
  width: 100%;
}

.brand {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.brand > ul > li {
  float: left;
  width: 33.33%;
}

.brand > ul > li > a > img {
  width: 100%;
  vertical-align: middle;
}

nav > a {
  float: left;
  display: block;
  width: 20%;
  padding-top: 10px;
  text-align: center;
}

nav > a > img {
  width: 40px;
  height: 40px;
}

nav > a > span {
  display: block;
  font-size: 12px;
}

.news > a {
  position: relative;
  display: block;
  float: left;
}

.news > a:first-child {
  width: 50%;
}

.news > a:nth-child(n+2) {
  width: 25%;
}

.news > a:nth-child(n+2)::before {
  content: '';
  position: absolute;
  display: block;
  width: 1px;
  height: 100px;
  top: 10px;
  background-color: #CCCCCC;
}

.news > a > img {
  width: 100%;
}
